small-screen = 450px;
desktop-controls-width = 442px;
labels-font = 'Lora', serif;

highlight-color = #e8e4df;
primary-text = #e8e4df;
secondary-color = rgba(232,228,223,.55);
emphasis-background = #060608;
background-color = #060608;
border-color = rgba(232,228,223,.12);
squircle = 14px;