small-screen = 450px;
desktop-controls-width = 442px;
labels-font = 'Mulish', sans-serif;
headline-font = 'Arima Madurai', cursive;

// Morandi: muted, dusty greige palette
highlight-color = #A1887F;
primary-text = #46423B;
secondary-color = rgba(70,66,59,.6);
emphasis-background = #DCD5C9;
background-color = #E7E1D6;
border-color = rgba(70,66,59,.15);
squircle = 14px;